<mat-toolbar class="header mat-elevation-z7">
  <span>
    <a> <img class="logo" src="../../../../assets/images/logo.png" alt="logo" > </a>
  </span>

  <span>
    <a routerLink="">
      <i class="material-icons text-white align"> home </i>
      <span class="text-white align"> Inicio </span>
    </a>
  </span>

  <span>
    <a routerLink="">
      <i class="material-icons text-white align"> sports </i>
      <span class="text-white align"> Minhas partidas </span>
    </a>

  </span>

</mat-toolbar>
