button{
  width: 10%;
  margin: 1rem;
}

mat-form-field{
  height:5rem;
  margin: 0.9rem 0.5rem 0 0.5rem ;
}

h1{
  box-shadow: #262627;
}
@media (max-width: 600px) {
  button {
    width: 30%;
  }
  span {
    text-align: center
  }
}




