<h1>ADICIONAR</h1>
<mat-card>
  <mat-form-field hintLabel="Max 35">
    <mat-label>Nome</mat-label>
    <input matInput #input maxlength="35" [(ngModel)]="match.nome" placeholder="Nome" >
    <mat-hint align="end">{{input.value.length}}/35</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Esporte</mat-label>
    <mat-select [(ngModel)]="match.esporte">
      <mat-option value="Futebol">Futebol</mat-option>
      <mat-option value="Volei">Volei</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Dia da semana</mat-label>
    <mat-select [(ngModel)]="match.dia_da_semana">
      <mat-option value="Segunda">Segunda</mat-option>
      <mat-option value="Terca">Terça</mat-option>
      <mat-option value="Quarta">Quarta</mat-option>
      <mat-option value="Quinta">Quinta</mat-option>
      <mat-option value="Sexta">Sexta</mat-option>
      <mat-option value="Sabado">Sabado</mat-option>
      <mat-option value="Domingo">Domingo</mat-option>
    </mat-select>
  </mat-form-field>

  <span>
      <button mat-raised-button (click)="createMatch()" color="primary"> Salvar </button>
      <button mat-raised-button (click)="cancel()"> Cancelar </button>
  </span>
</mat-card>

