.card-pelada{
  width: 200px;
  height: 300px;
  color: black;
  background-image: url(../../../../assets/images/beach_volei.png);
  position: fixed;
}

:host {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem para outra linha */
  justify-content: center; /* Centraliza os itens horizontalmente */
  height: 100vh;
  width: 100vh;
}