#container{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  min-height: 100vh;

}

#parametros{
  display:flex;
  flex-direction:column;
  margin: 0 auto;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 50%;


  .fields {
    display: flex;
    flex-direction: row;
    height: 5rem;

    mat-form-field{
      width: 100%;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    #sortButton{
      font-size: 0.9rem;
      width: 100%;
    }

    .actionButtons{
      display: flex;
      flex-direction: column;
      width: 35px;
      height: 35px;

      button{
        height: 25px;
        width: 25px;

        mat-icon{
          height: 25px;
          width: 25px;
          vertical-align: middle;
        }
      }

    }
  }

}

#table{
  width:20%;
  margin:auto;
}

table {
  background: rgba(0, 0, 0, 0.26);

  .capitan {
    width: 25px;
    height: 25px;
  }

}


@media (max-width: 700px){
  #container{
    flex-direction:column;
    flex-grow: 1;
  }

  #parametros{
    width:100%;
  }

  #table{
    width: 100%;
    margin: 0 auto;
  }
}
