#container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#jogadores{
  height: 5rem;

}
#parametros{
  display:flex;
  flex-direction:row;
  margin-left:auto;
  margin-right:auto;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 60%;

  .fields {
    display: flex;
    flex-direction: row;
    height: 5rem;

    mat-form-field{
      width: 20rem;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }

}


.buttons{
  display: flex;
  flex-direction: column;
  width: 35px;
  height: 35px;
  //margin-top: 15px;
}

.buttons button{
  height: 25px;
  width: 25px;
}
.buttons button mat-icon{
  height: 25px;
  width: 25px;
  vertical-align: middle;
}




#sort{
  width: 30rem;
  font-size: 0.9rem;
}

.v-midle{
  vertical-align: middle;
}




