<div id="container">
  <div id="parametros">
    <span class="fields">
      <mat-form-field>
        <mat-label>Numero de times</mat-label>
       <input matInput [(ngModel)]="numero_times" placeholder="Numero de times">
      </mat-form-field>
      <span class="actionButtons">
         <button mat-mini-fab (click)="maisTimes()"><mat-icon>arrow_drop_up</mat-icon></button>
         <button mat-mini-fab (click)="menosTimes()"><mat-icon>arrow_drop_down</mat-icon> </button>
      </span>
    </span>
    <span class="fields">
      <mat-form-field>
        <mat-label>Numero de jogadores</mat-label>
       <input matInput [(ngModel)]="jogadores_por_time" placeholder="Numero de jogadores">
      </mat-form-field>
       <span class="actionButtons">
         <button mat-mini-fab (click)="maisJogadores()"><mat-icon>arrow_drop_up</mat-icon></button>
         <button mat-mini-fab (click)="menosJogadores()"> <mat-icon>arrow_drop_down</mat-icon> </button>
       </span>
    </span>
    <button id="sortButton" mat-raised-button (click)="realizarSorteio()" color="accent"> Gerar times - {{jogadoresParaSorteio.length}} </button>
  </div>
  <div id="table">
    <table mat-table [dataSource]="jogadores" class="mat-elevation-z8"  >
      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let row"> <p>{{row.nome}} <mat-icon class="capitan" *ngIf="row.especial"> sports_handball </mat-icon></p></td>
      </ng-container>

      <!-- Checbox Column -->
      <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef>Selecionar</th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (change)="addJogadorParaSorteio($event, row)" ></mat-checkbox>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

</div>
