mat-card-title{
  height: 10rem;
  background-image: url("../../../../assets/images/black_wall.jpg");
  padding: 20px;
  padding-bottom: 0px;

  h1, h2{
    font-family:'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;

  }

  .footer{
    display: flex;
    justify-content: space-between;
  }

  mat-icon{
    vertical-align: middle;
  }

}

.jogador{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  vertical-align: middle;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.04);



  mat-form-field:nth-child(1){
    //margin-top:1rem;
    display: flex;
    width: 20rem;
    background-color: rgba(255, 255, 255, 0.04);
  }

  mat-form-field:nth-child(2){
    width: 10rem;
  }

  :last-child{
    margin-left:1rem;
    margin-top: 0.3rem;
  }

  button{
    word-wrap: break-word;
    width: 10rem;
    padding: 1.5rem;
  }

  mat-check-box{
    margin-top: 0.3rem;
  }

}




.capitan{
  width:25px;
  height:25px;
}

.delete{
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  margin-left: 9px;
}

