mat-card{
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  margin:auto;
}

mat-card-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10rem;
  background-image: url("../../../../assets/images/black_wall.jpg");

  mat-icon{
    vertical-align: middle;
  }

  a{
    text-decoration: none;
    color: inherit;

  }

  h1, h2{
    font-family:'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;

  }


  #infos{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;

  }

  #actions{
    width:50%;
    text-align: right;

    button{
      width:10rem;
    }
  }
}

.jogador{
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  height: 4rem;
  margin-top: 1rem;


  .break{
    display: flex;
    flex-direction: row;
    width:50%;

    mat-form-field{
      display: flex;
      width: 50%;
      height: 5rem;
      border-radius: 3rem;
      margin-left: 0.5rem;

    }

    button{
      margin-left:1rem;
      margin-top: 0.4rem;
      margin-right: auto;
      word-wrap: break-word;
      width: 50%;
      padding: 1.5rem;
      font-size: 0.9rem;
    }

  }


}

#table{
  width:50%;
  margin:auto;
}

table {
  background: rgba(0, 0, 0, 0.26);

  input {
    background: none;
    border: none;
    color: white;

    font-family: "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;

    width: 5rem;
  }

  .capitan {
    width: 25px;
    height: 25px;
  }

  .delete {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: white;
  }
}



@media (max-width: 700px) {
  mat-card-title {
    height: 7rem;
    padding:0.3rem;

    #infos{
      width: 77%;
      padding: 0;
      h1 {
        margin-bottom: 0;
      }

      #edit {
        width: 20px;
        height: 20px;
        vertical-align: top;

      }

      .sub {
        font-size: 1rem;
        margin-bottom: 0;
      }
    }

    #actions{
      width: 23%;
      margin-bottom: 1rem;
      h1{
        font-size:1rem;
        margin-left:0;

      }
      button{
        width:3.5rem;
        font-size: 1rem;
        height:2rem;

      }
    }
  }

  .jogador{
    flex-direction: row;
    flex-wrap: wrap;
    height: 10rem;

    .break{
      display: flex;
      flex-direction: row;
      width:100%;
      height:5rem;
      margin-left: 0;

      mat-form-field {
        height: 4.7rem;
        width: 50%;
        margin:0;
      }

      mat-hint{
        font-size: 10px;
        align-items: start;
        color: rgba(255, 255, 255, 0.38);

      }

      button{
        width:11rem;
        height:3.3rem;
        font-size:0.7rem;
        word-wrap: normal;
        padding: 0.8rem;
        margin-left: 1px;
        margin-top:0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

    }

  }

  #table{
    width:90%;
  }



}






