<mat-card>
  <mat-form-field><input matInput [(ngModel)]="match.nome" placeholder="Nome" disabled></mat-form-field>
  <mat-form-field><input matInput [(ngModel)]="match.dia_da_semana" placeholder="Dia da Semana" disabled></mat-form-field>
  <mat-form-field><input matInput [(ngModel)]="match.esporte" placeholder="Esporte" disabled></mat-form-field>

<!--  <mat-form-field>Esporte: {{match.esporte}}</mat-form-field>-->
<!--  <mat-form-field>Dia da Semana: {{match.dia_da_semana}}</mat-form-field>-->
<!--  <mat-form-field>Numero de Jogadores: {{match.numero_de_jogadores}}</mat-form-field>-->
</mat-card>


