mat-sidenav{
    background-color: rgba(17, 17, 17, 0.62);
    height:100%;
    color: #ffffff;
  }
mat-sidenav-container{
  width: 100%;
  min-height: 100vh;
  background: none;
  //background-image: url(../../../../assets/images/background.jpg);
  background-size: cover;

}
.align{
    vertical-align: middle;
}

mat-sidenav i {
    padding-right: 10px;
}

mat-sidenav-content{
  padding: 16px;
  max-width: 100%;
}


@media (max-width: 600px) {
  mat-sidenav {
    width: 0;
  }
  mat-sidenav-conteiner{
    position:fixed;
    height:100%;
    width:100%
  }


}

