mat-sidenav{
    background-color: #262627;
    width:13%;
    color: #ffffff;

  }
mat-sidenav-container{
  background-color: #262627;

}
.align{
    vertical-align: middle;
}

mat-sidenav i {
    padding-right: 10px;
}



.content{
  padding: 16px;
  background-image: url(../../../../assets/images/background-1.jpg);
  background-size: cover;
  height: 100vh;
}


@media (max-width: 600px) {
  mat-sidenav {
    width: 0;
  }

}

