<div class="cards-container" >
  <mat-card *ngFor="let time of times">
    <mat-card-header [id]="time.nome">
      <mat-card-title> Time {{time.nome}} - {{time.mediaDoTime()}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let jogador of time.jogadores" class="jogadores">
        <mat-icon *ngIf="!jogador.especial">person_outline</mat-icon>  <mat-icon color="warn" *ngIf="jogador.especial">person_outline</mat-icon>
        <span id="score"> {{jogador.score}}</span>

        <span class="name">{{ jogador.nome }}</span>
      </div>

    </mat-card-content>
  </mat-card>
</div>
