.cards-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  vertical-align: middle;
  justify-items: center;
  align-items: center;
  //justify-content: space-around;
}
mat-card{
  background-color: rgba(1, 0, 3, 0.73);
  height: 21rem;
  width: 15rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.03);
  }
}

mat-card-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.v-midle{
  vertical-align: middle;
}


#A{
  background-color: red;
}
#B{
  background-color: #e5e50d;
}
#C{
  background-color: blue;
}
#D{
  background-color: green;
}
#E{
  background-color: deeppink;
}
#F{
  background-color: saddlebrown;
}
#G{
  background-color: purple;
}
#H{
  background-color: orangered;
}
#I{
  background-color: skyblue;
}
#J{
  background-color: black;
}
#K {
  background-color: goldenrod;
}
#L{
  background-color: cyan;
}
