.cards{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.team-card {
  background-color: rgba(1, 0, 3, 0.73);
  height: 21rem;
  width: 15rem;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.03);
  }
}

.v-midle{
  vertical-align: middle;
}


#A{
  background-color: red;
}
#B{
  background-color: yellow;
}
#C{
  background-color: blue;
}
#D{
  background-color: green;
}
#E{
  background-color: deeppink;
}
#F{
  background-color: saddlebrown;
}
#G{
  background-color: purple;
}
#H{
  background-color: orangered;
}
#I{
  background-color: skyblue;
}
#J{
  background-color: black;
}
#K {
  background-color: goldenrod;
}
#L{
  background-color: cyan;
}
