<h1> Edit Match</h1>
<mat-card>
  <mat-form-field class="selection">
    <input matInput [(ngModel)]="match.nome" placeholder="Nome">
  </mat-form-field>

  <div class="selection-container">
    <label>Esporte</label>
    <mat-radio-group class="example-radio-group" [(ngModel)]="match.esporte">
      <mat-radio-button *ngFor= "let esporte of esportes" class="example-radio-button" [value]="esporte">{{esporte}}</mat-radio-button>
    </mat-radio-group>

    <label>Dia da Semana</label>
    <mat-radio-group class="example-radio-group" [(ngModel)]="match.dia_da_semana">
      <mat-radio-button *ngFor= "let dia of dias_da_semana" class="example-radio-button" [value]="dia">{{dia}}</mat-radio-button>
    </mat-radio-group>
  </div>

  <span>
        <button mat-raised-button (click)="salvar()" color="primary"> Salvar </button>
        <button mat-raised-button (click)="cancelar()"> Cancelar </button>
        <button mat-raised-button (click)="deletar()"><mat-icon> delete </mat-icon> </button>
    </span>
</mat-card>

