.sidenav{
    background-color: #262627;
    width:200px;


  }

  .align{
    vertical-align: middle;
  }

  .sidenav i {
    padding-right: 10px;

  }

  .text-white{
    color: #ffffff;
  }

  .content{
    padding: 16px;
    background-image: url(../../../../assets/images/background-1.jpg);
    background-position: inherit;
    height: 100vh;
  }
