:host{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.match-card {
    height: 20rem;
    width: 15rem;
    background-color: #e6e9f8;
    margin: 10px;
}

mat-card-actions{
  color:black;
}



