<mat-card class="match-card" *ngFor="let match of matches">
    <mat-card-header>
      <mat-card-title>{{match.nome | titlecase}}</mat-card-title>
<!--      <mat-card-subtitle>{{match.esporte}}</mat-card-subtitle>-->
    </mat-card-header>
    <img mat-card-image [src]="getImageUrl(match)" alt="jogador">
    <mat-card-content>
      <p>
      <i class="material-icons v-midle" >
            event
        </i> {{match.dia_da_semana}}
      </p>
      <p>
      <i class="material-icons v-midle" >
            person
        </i> {{match.numero_de_jogadores}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button><mat-icon>login</mat-icon></button>
    </mat-card-actions>
</mat-card>

