<p>match works  </p>
<mat-card class="match-card" *ngFor="let match of matchs">
    <mat-card-header>
      <mat-card-title>{{match.nome | titlecase}}</mat-card-title>
      <mat-card-subtitle>{{match.esporte}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="getImageUrl(match)" alt="jogador">
    <mat-card-content>
      <p>
        Esta match ocorre toda {{match.dia_da_semana}}.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button><mat-icon>delete</mat-icon></button>
      <button mat-icon-button><mat-icon>edit</mat-icon></button>
      <button mat-icon-button><mat-icon>send</mat-icon></button>
    </mat-card-actions>
  </mat-card>