.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  vertical-align: middle;
  justify-items: center;
}
.add-button{
  margin-top: 150px;
  margin-left: 15px;
}

.match-card {
    background-color: rgba(1, 0, 3, 0.73);
    height: 21rem;
    width: 15rem;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.03);
  }
}

mat-card-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
  color: white;
}
mat-card-subtitle{
  color: #262627;
  margin-left: 2px;
}

mat-card-content{
  display: flex;
  flex-direction: column;
  margin-top:0.5rem;
}

mat-card-content p{
  margin-bottom:0;
  color: white;
  text-align: left;

}

mat-card-actions {
  display: flex;
  justify-content: flex-end ;
  color:white;
}

.v-midle{
  vertical-align: middle;
  margin-bottom: 0;
}

