.cards-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  vertical-align: middle;
  justify-items: center;
  align-items: center;
  //justify-content: space-around;
}

mat-card{
    background-color: rgba(1, 0, 3, 0.73);
    height: 21rem;
    width: 15rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.03);
  }
}

mat-card-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
  color: white;
}
mat-card-subtitle{
  color: #262627;
  margin-left: 0.5rem;
}

mat-card-content{
  display: flex;
  flex-direction: column;
  margin-top:0.5rem;
}

mat-card-content p{
  margin-bottom:0;
  color: white;
  text-align: left;

}

mat-card-actions {
  display: flex;
  justify-content: flex-end ;
  color:white;
}

.v-midle{
  vertical-align: middle;
  margin-bottom: 0;
}

#up-page{
  width:0;
  height:0;
}


@media (max-width: 600px) {
  .cards-container{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

  }

  .buttons {
    position: fixed;
    top: 4.2rem;
    right:1rem;
    z-index: 2;

    background: rgba(38, 38, 39, 0.46);
    border-radius: 10px;

    width: 2.7rem;
    display: flex;
    flex-direction: column;


    button{
      background:transparent;
      border: none;
      color: white;
      box-shadow: none;

      width: 2.7rem;
      height: 2.7rem;
    }

    #up-page{
      width: 2.7rem;
      height: 2.7rem;
    }


  }

}
