mat-toolbar {
  display: flex;
  align-items: center;
  background-color: white;
}

mat-toolbar a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

mat-toolbar .logo{
  max-height: 32px;
}

mat-toolbar .title-group{
  padding-left: 25px;
}

#logo{
  background-image: url(../../../../assets/images/logotest.png);
  height: 3rem;
  width: 15rem;
}


@media (max-width: 600px) {


}
