mat-toolbar {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  width:100%;
}

mat-toolbar a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.secundary-nav {
  width: 0;
  margin-left: 3rem;
}


#logo {
  background-size: cover;
  background-image: url(../../../../assets/images/full-logo.svg);
  height: 60px;
  width: 200px;
}


@media (max-width: 600px) {
   #logo {
     width: 51px;
     height: 50px;
     background-size: cover;
     background-image: url(../../../../assets/images/short-logo.png);

   }

  .secundary-nav{
    width: 80%;
    margin-left:  0;
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    font-size: 1rem;

  }
  .secundary-nav a{
    width: 5rem;
    padding-left: 0rem  ;
    color: rgba(38,38,39,0.62)
  }
  .secundary-nav a:nth-child(1){
    width: 4rem;

  }

}
